In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

In [35]:
df =pd.read_csv("placement_Data.csv")

In [36]:
df

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [38]:
df.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [39]:
df1 = df.copy()

In [40]:
df1=df1.drop(["sl_no","salary"],axis=1)
df1.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed

In [41]:
df1.isnull().sum()

gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
dtype: int64

In [42]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gender          215 non-null    object
 1   ssc_p           215 non-null    float64
 2   ssc_b           215 non-null    object
 3   hsc_p           215 non-null    float64
 4   hsc_b           215 non-null    object
 5   hsc_s           215 non-null    object
 6   degree_p        215 non-null    float64
 7   degree_t        215 non-null    object
 8   workex          215 non-null    object
 9   etest_p         215 non-null    float64
 10  specialisation  215 non-null    object
 11  mba_p           215 non-null    float64
 12  status          215 non-null    object
dtypes: float64(5), object(8)
memory usage: 22.0+ KB

In [43]:
le = LabelEncoder()

In [45]:
df1["gender"]=le.fit_transform(df1["gender"])
df1["ssc_b"]=le.fit_transform(df1["ssc_b"])
df1["hsc_b"]=le.fit_transform(df1["hsc_b"])
df1["hsc_s"]=le.fit_transform(df1["hsc_s"])
df1["degree_t"]=le.fit_transform(df1["degree_t"])
df1["workex"]=le.fit_transform(df1["workex"])
df1["specialisation"]=le.fit_transform(df1["specialisation"])
df1["status"]=le.fit_transform(df1["status"])

In [46]:
print(df1)

     gender  ssc_p  ssc_b  hsc_p  hsc_b  hsc_s  degree_p  degree_t  workex  \
0         1  67.00      1  91.00      1      1     58.00         2       0
1         1  79.33      0  78.33      1      2     77.48         2       1
2         1  65.00      0  68.00      0      0     64.00         0       0
3         1  56.00      0  52.00      0      2     52.00         2       0
4         1  85.80      0  73.60      0      1     73.30         0       0
..      ...    ...    ...    ...    ...    ...       ...       ...     ...
210       1  80.60      1  82.00      1      1     77.60         0       0
211       1  58.00      1  60.00      1      2     72.00         2       0
212       1  67.00      1  67.00      1      1     73.00         0       1
213       0  74.00      1  66.00      1      1     58.00         0       0
214       1  62.00      0  58.00      1      2     53.00         0       0

     etest_p  specialisation  mba_p  status
0       55.0               1  58.80       1
1       86.5               0  66.28       1
2       75.0               0  57.80       1
3       66.0               1  59.43       0
4       96.8               0  55.50       1
..       ...             ...    ...     ...
210     91.0               0  74.49       1
211     74.0               0  53.62       1
212     59.0               0  69.72       1
213     70.0               1  60.23       1
214     89.0               1  60.22       0

[215 rows x 13 columns]

In [50]:
x= df1.iloc[:,:-1]
print(x)

     gender  ssc_p  ssc_b  hsc_p  hsc_b  hsc_s  degree_p  degree_t  workex  \
0         1  67.00      1  91.00      1      1     58.00         2       0
1         1  79.33      0  78.33      1      2     77.48         2       1
2         1  65.00      0  68.00      0      0     64.00         0       0
3         1  56.00      0  52.00      0      2     52.00         2       0
4         1  85.80      0  73.60      0      1     73.30         0       0
..      ...    ...    ...    ...    ...    ...       ...       ...     ...
210       1  80.60      1  82.00      1      1     77.60         0       0
211       1  58.00      1  60.00      1      2     72.00         2       0
212       1  67.00      1  67.00      1      1     73.00         0       1
213       0  74.00      1  66.00      1      1     58.00         0       0
214       1  62.00      0  58.00      1      2     53.00         0       0

     etest_p  specialisation  mba_p
0       55.0               1  58.80
1       86.5               0  66.28
2       75.0               0  57.80
3       66.0               1  59.43
4       96.8               0  55.50
..       ...             ...    ...
210     91.0               0  74.49
211     74.0               0  53.62
212     59.0               0  69.72
213     70.0               1  60.23
214     89.0               1  60.22

[215 rows x 12 columns]

In [51]:
y = df1.iloc[:,-1]

In [52]:
print(y)

0      1
1      1
2      1
3      0
4      1
      ..
210    1
211    1
212    1
213    1
214    0
Name: status, Length: 215, dtype: int32

In [53]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [54]:
c = LogisticRegression()

In [56]:
c.fit(x_train,y_train)

C:\Users\PRETHIVEE RAJAN\anaconda32021\envs\webapp\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [58]:
y_pred = c.predict(x_test)

In [59]:
print(y_pred)

[0 1 1 0 1 0 1 1 1 1 1 1 1 1 0 0 1 0 0 1 0 1 1 1 0 0 1 1 1 1 1 1 1 0 0 1 1
 1 1 1 0 0 1]

In [65]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test,y_pred)
acc

0.813953488372093

In [66]:
from sklearn.metrics import confusion_matrix
con = confusion_matrix(y_test,y_pred)
con

array([[11,  5],
       [ 3, 24]], dtype=int64)

In [68]:
from sklearn.metrics import classification_report
cl = classification_report(y_test,y_pred)
cl

'              precision    recall  f1-score   support\n\n           0       0.79      0.69      0.73        16\n           1       0.83      0.89      0.86        27\n\n    accuracy                           0.81        43\n   macro avg       0.81      0.79      0.80        43\nweighted avg       0.81      0.81      0.81        43\n'