In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv("Salary.csv")

In [4]:
df

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

In [6]:
df.isnull().sum()

Position    0
Level       0
Salary      0
dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le = LabelEncoder()

In [10]:
df["Position"] = le.fit_transform(df["Position"])

In [11]:
df

   Position  Level   Salary
0         0      1    45000
1         4      2    50000
2         8      3    60000
3         5      4    80000
4         3      5   110000
5         7      6   150000
6         6      7   200000
7         9      8   300000
8         1      9   500000
9         2     10  1000000

In [15]:
x = df[["Position","Level"]]
print(x)

   Position  Level
0         0      1
1         4      2
2         8      3
3         5      4
4         3      5
5         7      6
6         6      7
7         9      8
8         1      9
9         2     10

In [16]:
y = df["Salary"]
y

0      45000
1      50000
2      60000
3      80000
4     110000
5     150000
6     200000
7     300000
8     500000
9    1000000
Name: Salary, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [18]:
from sklearn.tree import DecisionTreeRegressor

In [19]:
dc = DecisionTreeRegressor()

In [21]:
dc.fit(x_train,y_train)

DecisionTreeRegressor()

In [22]:
y_pred = dc.predict(x_test)

In [23]:
y_pred

array([80000., 45000.])

In [25]:
from sklearn.metrics import mean_squared_error

In [26]:
mc = mean_squared_error(y_test,y_pred)
mc

462500000.0

In [27]:
from sklearn.metrics import r2_score
mc = r2_score(y_test,y_pred)
mc

0.48611111111111116