import pandas as pd

In [5]:
import pandas as pd

In [9]:
df  = pd.read_csv("spam.csv",encoding = "latin-1")

In [10]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [12]:
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [16]:
x = df["v1"].values
y = df["v2"].values

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.2,random_state=0)

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

In [20]:
cv = CountVectorizer()

In [23]:
x_train = cv.fit_transform(x_train)

In [24]:
x_test = cv.transform(x_test)

In [25]:
from sklearn.svm import SVC

In [26]:
svc = SVC( )

In [28]:
svc.fit(x_train,y_train)

SVC()

In [29]:
y_pred = svc.predict(x_test)

In [30]:
y_pred

array(["Sorry, I'll call later", "Sorry, I'll call later",
       "Sorry, I'll call later", ..., "Sorry, I'll call later",
       "Sorry, I'll call later", "Sorry, I'll call later"], dtype=object)

In [32]:
from sklearn import metrics

In [33]:
acc = metrics.accuracy_score(y_test,y_pred)

In [34]:
acc

0.00515926424405563